# Read data

In [1]:
from warnings import filterwarnings 
filterwarnings("ignore")

In [2]:
import pandas as pd
A = pd.read_csv("C:/Users/pritam hakande/Downloads/HR-Employee-Attrition-Table 1.csv")

# profile

In [3]:
A.head(3)

,Attrition,Age,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,1,41,Travel_Rarely,1102,Sales,1,2,Life Sciences,1,1,...,1,80,0,8,0,1,6,4,0,5
1,0,49,Travel_Frequently,279,Research & Development,8,1,Life Sciences,1,2,...,4,80,1,10,3,3,10,7,1,7
2,1,37,Travel_Rarely,1373,Research & Development,2,2,Other,1,4,...,2,80,0,7,3,3,0,0,0,0

In [4]:
A.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1470 entries, 0 to 1469
Data columns (total 35 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Attrition                 1470 non-null   int64
 1   Age                       1470 non-null   int64
 2   BusinessTravel            1470 non-null   object
 3   DailyRate                 1470 non-null   int64
 4   Department                1470 non-null   object
 5   DistanceFromHome          1470 non-null   int64
 6   Education                 1470 non-null   int64
 7   EducationField            1470 non-null   object
 8   EmployeeCount             1470 non-null   int64
 9   EmployeeNumber            1470 non-null   int64
 10  EnvironmentSatisfaction   1470 non-null   int64
 11  Gender                    1470 non-null   object
 12  HourlyRate                1470 non-null   int64
 13  JobInvolvement            1470 non-null   int64
 14  JobLevel                  1470 non-null   int64
 15  JobRole                   1470 non-null   object
 16  JobSatisfaction           1470 non-null   int64
 17  MaritalStatus             1470 non-null   object
 18  MonthlyIncome             1470 non-null   int64
 19  MonthlyRate               1470 non-null   int64
 20  NumCompaniesWorked        1470 non-null   int64
 21  Over18                    1470 non-null   object
 22  OverTime                  1470 non-null   object
 23  PercentSalaryHike         1470 non-null   int64
 24  PerformanceRating         1470 non-null   int64
 25  RelationshipSatisfaction  1470 non-null   int64
 26  StandardHours             1470 non-null   int64
 27  StockOptionLevel          1470 non-null   int64
 28  TotalWorkingYears         1470 non-null   int64
 29  TrainingTimesLastYear     1470 non-null   int64
 30  WorkLifeBalance           1470 non-null   int64
 31  YearsAtCompany            1470 non-null   int64
 32  YearsInCurrentRole        1470 non-null   int64
 33  YearsSinceLastPromotion   1470 non-null   int64
 34  YearsWithCurrManager      1470 non-null   int64
dtypes: int64(27), object(8)
memory usage: 402.1+ KB

# Missing Data

In [5]:
A.isna().sum()

Attrition                   0
Age                         0
BusinessTravel              0
DailyRate                   0
Department                  0
DistanceFromHome            0
Education                   0
EducationField              0
EmployeeCount               0
EmployeeNumber              0
EnvironmentSatisfaction     0
Gender                      0
HourlyRate                  0
JobInvolvement              0
JobLevel                    0
JobRole                     0
JobSatisfaction             0
MaritalStatus               0
MonthlyIncome               0
MonthlyRate                 0
NumCompaniesWorked          0
Over18                      0
OverTime                    0
PercentSalaryHike           0
PerformanceRating           0
RelationshipSatisfaction    0
StandardHours               0
StockOptionLevel            0
TotalWorkingYears           0
TrainingTimesLastYear       0
WorkLifeBalance             0
YearsAtCompany              0
YearsInCurrentRole          0
YearsSinceLastPromotion     0
YearsWithCurrManager        0
dtype: int64

In [6]:
Y = A[["MonthlyRate"]]
X = A.drop(labels=["MonthlyRate"],axis=1)

# Exploratory Data Analysis

In [7]:
cat = []
con = []
for i in X.columns:
    if(X[i].dtypes == "object"):
        cat.append(i)
    else:
        con.append(i)

In [8]:
X[cat].head(3)

,BusinessTravel,Department,EducationField,Gender,JobRole,MaritalStatus,Over18,OverTime
0,Travel_Rarely,Sales,Life Sciences,Female,Sales Executive,Single,Y,Yes
1,Travel_Frequently,Research & Development,Life Sciences,Male,Research Scientist,Married,Y,No
2,Travel_Rarely,Research & Development,Other,Male,Laboratory Technician,Single,Y,Yes

In [9]:
X[con].head(3)

,Attrition,Age,DailyRate,DistanceFromHome,Education,EmployeeCount,EmployeeNumber,EnvironmentSatisfaction,HourlyRate,JobInvolvement,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,1,41,1102,1,2,1,1,2,94,3,...,1,80,0,8,0,1,6,4,0,5
1,0,49,279,8,1,1,2,3,61,2,...,4,80,1,10,3,3,10,7,1,7
2,1,37,1373,2,2,1,4,4,92,2,...,2,80,0,7,3,3,0,0,0,0

In [10]:
def ANOVA(df,cat,con):
    from pandas import DataFrame
    from statsmodels.formula.api import ols
    rel = con + " ~ " + cat
    model = ols(rel,df).fit()
    from statsmodels.stats.anova import anova_lm
    anova_results = anova_lm(model)
    Q = DataFrame(anova_results)
    a = Q['PR(>F)'][cat]
    return round(a,3)

In [11]:
imp_con_cols = []
for i in cat:
    print("---------MonthlyRate vs",i,"----------")
    x = ANOVA(A,i,"MonthlyRate")
    print(x)
    if(x < 0.05):
        imp_con_cols.append(i)

---------MonthlyRate vs BusinessTravel ----------
0.838
---------MonthlyRate vs Department ----------
0.57
---------MonthlyRate vs EducationField ----------
0.753
---------MonthlyRate vs Gender ----------
0.112
---------MonthlyRate vs JobRole ----------
0.779
---------MonthlyRate vs MaritalStatus ----------
0.31
---------MonthlyRate vs Over18 ----------
nan
---------MonthlyRate vs OverTime ----------
0.412

In [12]:
imp_con_cols.append("Gender")

In [13]:
A.corr()["MonthlyRate"].sort_values()

YearsWithCurrManager       -0.036746
StockOptionLevel           -0.034323
DailyRate                  -0.032182
Education                  -0.026084
YearsAtCompany             -0.023655
JobInvolvement             -0.016322
HourlyRate                 -0.015297
YearsInCurrentRole         -0.012815
PerformanceRating          -0.009811
PercentSalaryHike          -0.006429
RelationshipSatisfaction   -0.004085
JobSatisfaction             0.000644
TrainingTimesLastYear       0.001467
YearsSinceLastPromotion     0.001567
WorkLifeBalance             0.007963
EmployeeNumber              0.012648
Attrition                   0.015170
NumCompaniesWorked          0.017521
TotalWorkingYears           0.026442
DistanceFromHome            0.027473
Age                         0.028051
MonthlyIncome               0.034814
EnvironmentSatisfaction     0.037600
JobLevel                    0.039563
MonthlyRate                 1.000000
EmployeeCount                    NaN
StandardHours                    NaN
Name: MonthlyRate, dtype: float64

# preprocessing

In [14]:
def preprocessing(df):
    import pandas as pd
    cat = []
    con = []
    for i in df.columns:
        if(df[i].dtypes == "object"):
            cat.append(i)
        else:
            con.append(i)
    X1 = pd.get_dummies(df[cat])
    from sklearn.preprocessing import StandardScaler
    ss = StandardScaler()
    X2 = pd.DataFrame(ss.fit_transform(df[con]),columns=con)
    X3 = X2.join(X1)
    return X3

In [15]:
X = preprocessing(X)

# split the data in training and testing set

In [16]:
from sklearn.model_selection import train_test_split
xtrain,xtest,ytrain,ytest=train_test_split(X,Y,test_size=0.2,random_state=21)

# Create regression models

1. SLR
2. MLR
3. DTR
4. RFR | ABR
5. KNR

In [17]:
from sklearn.linear_model import LinearRegression
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor
from sklearn.ensemble import AdaBoostRegressor
from sklearn.metrics import mean_absolute_error,explained_variance_score

In [18]:
def model(mobj):
    model = mobj.fit(xtrain,ytrain)
    pred_tr = model.predict(xtrain)
    tr_acc = mean_absolute_error(ytrain,pred_tr)
    pred_ts = model.predict(xtest)
    ts_acc = mean_absolute_error(ytest,pred_ts)
    exp_var = explained_variance_score(ytest,pred_ts)
    return round(tr_acc,3),round(ts_acc,3),exp_var,mobj

In [19]:
lm = LinearRegression()
model(lm)

(6016.132, 6435.575, -0.06834445116098475, LinearRegression())

In [20]:
from PM8 import preprocessing
X = A.drop(labels=["MonthlyRate"],axis=1)
Xnew = preprocessing(X)
from sklearn.model_selection import train_test_split
xtrain,xtest,ytrain,ytest=train_test_split(Xnew,Y,test_size=0.2,random_state=21)

In [21]:
Q = []
for i in range(2,20):
    dtr = DecisionTreeRegressor(random_state=21,max_depth=i)
    Q.append(model(dtr))

In [22]:
Q

[(6074.345,
  6332.767,
  -0.04170664128709212,
  DecisionTreeRegressor(max_depth=2, random_state=21)),
 (6000.14,
  6345.39,
  -0.06116753684483922,
  DecisionTreeRegressor(max_depth=3, random_state=21)),
 (5861.491,
  6329.589,
  -0.055290678789388314,
  DecisionTreeRegressor(max_depth=4, random_state=21)),
 (5688.867,
  6495.855,
  -0.14836418881872437,
  DecisionTreeRegressor(max_depth=5, random_state=21)),
 (5407.625,
  6622.983,
  -0.2287788602321692,
  DecisionTreeRegressor(max_depth=6, random_state=21)),
 (5008.309,
  7006.381,
  -0.38974225825748676,
  DecisionTreeRegressor(max_depth=7, random_state=21)),
 (4497.233,
  7216.831,
  -0.4659154028696886,
  DecisionTreeRegressor(max_depth=8, random_state=21)),
 (4039.262,
  7300.052,
  -0.5451347991067017,
  DecisionTreeRegressor(max_depth=9, random_state=21)),
 (3437.394,
  7696.496,
  -0.728536404056936,
  DecisionTreeRegressor(max_depth=10, random_state=21)),
 (2848.33,
  7647.737,
  -0.7416852962248524,
  DecisionTreeRegressor(max_depth=11, random_state=21)),
 (2332.73,
  7700.164,
  -0.8177093507497579,
  DecisionTreeRegressor(max_depth=12, random_state=21)),
 (1816.009,
  8232.99,
  -0.9785732814220052,
  DecisionTreeRegressor(max_depth=13, random_state=21)),
 (1357.462,
  8334.528,
  -1.0211871274083988,
  DecisionTreeRegressor(max_depth=14, random_state=21)),
 (1007.61,
  8122.153,
  -1.0163933986303282,
  DecisionTreeRegressor(max_depth=15, random_state=21)),
 (703.974,
  8205.771,
  -1.0306615356427304,
  DecisionTreeRegressor(max_depth=16, random_state=21)),
 (481.782,
  8452.897,
  -1.1183666869819957,
  DecisionTreeRegressor(max_depth=17, random_state=21)),
 (295.735,
  8603.425,
  -1.1713792292535228,
  DecisionTreeRegressor(max_depth=18, random_state=21)),
 (182.673,
  8718.014,
  -1.2179722760249208,
  DecisionTreeRegressor(max_depth=19, random_state=21))]

In [23]:
Q = []
for i in range(2,20):
    rf = RandomForestRegressor(random_state=21,n_estimators=i)
    Q.append(model(rf))

In [24]:
Q

[(2878.443,
  7460.903,
  -0.580553205050812,
  RandomForestRegressor(n_estimators=2, random_state=21)),
 (2808.111,
  6742.627,
  -0.29557346424729825,
  RandomForestRegressor(n_estimators=3, random_state=21)),
 (2742.051,
  6824.177,
  -0.30296007071417375,
  RandomForestRegressor(n_estimators=4, random_state=21)),
 (2660.387,
  6842.777,
  -0.27611885943552816,
  RandomForestRegressor(n_estimators=5, random_state=21)),
 (2655.097,
  6685.397,
  -0.23089261200254563,
  RandomForestRegressor(n_estimators=6, random_state=21)),
 (2620.461,
  6557.2,
  -0.1673556829364653,
  RandomForestRegressor(n_estimators=7, random_state=21)),
 (2583.765,
  6576.727,
  -0.16431798877963066,
  RandomForestRegressor(n_estimators=8, random_state=21)),
 (2546.882,
  6478.502,
  -0.1166255257443587,
  RandomForestRegressor(n_estimators=9, random_state=21)),
 (2526.111,
  6484.632,
  -0.11079524296106724,
  RandomForestRegressor(n_estimators=10, random_state=21)),
 (2515.767,
  6439.59,
  -0.0876497157432723,
  RandomForestRegressor(n_estimators=11, random_state=21)),
 (2518.618,
  6481.314,
  -0.09434713197429345,
  RandomForestRegressor(n_estimators=12, random_state=21)),
 (2497.36,
  6500.694,
  -0.09087154547687559,
  RandomForestRegressor(n_estimators=13, random_state=21)),
 (2474.276,
  6435.457,
  -0.07653570270507681,
  RandomForestRegressor(n_estimators=14, random_state=21)),
 (2465.793,
  6443.671,
  -0.07422670716723578,
  RandomForestRegressor(n_estimators=15, random_state=21)),
 (2463.439,
  6465.322,
  -0.08153733105458061,
  RandomForestRegressor(n_estimators=16, random_state=21)),
 (2439.49,
  6458.733,
  -0.07660102411938796,
  RandomForestRegressor(n_estimators=17, random_state=21)),
 (2430.889,
  6445.365,
  -0.07168153558456947,
  RandomForestRegressor(n_estimators=18, random_state=21)),
 (2425.136,
  6392.936,
  -0.05617620486082209,
  RandomForestRegressor(n_estimators=19, random_state=21))]

In [25]:
Q = []
for i in range(20,40):
    abc = AdaBoostRegressor(DecisionTreeRegressor(max_depth=3,random_state=21),n_estimators=i)
    Q.append(model(abc))

In [26]:
Q

[(6020.22,
  6251.785,
  0.005943749823593691,
  AdaBoostRegressor(base_estimator=DecisionTreeRegressor(max_depth=3,
                                                         random_state=21),
                    n_estimators=20)),
 (6070.241,
  6279.212,
  -0.003375957896325943,
  AdaBoostRegressor(base_estimator=DecisionTreeRegressor(max_depth=3,
                                                         random_state=21),
                    n_estimators=21)),
 (6030.733,
  6232.932,
  0.012595419985764411,
  AdaBoostRegressor(base_estimator=DecisionTreeRegressor(max_depth=3,
                                                         random_state=21),
                    n_estimators=22)),
 (6027.702,
  6278.978,
  0.0007029559809152985,
  AdaBoostRegressor(base_estimator=DecisionTreeRegressor(max_depth=3,
                                                         random_state=21),
                    n_estimators=23)),
 (6055.927,
  6310.561,
  -0.006178941707652319,
  AdaBoostRegressor(base_estimator=DecisionTreeRegressor(max_depth=3,
                                                         random_state=21),
                    n_estimators=24)),
 (6003.768,
  6317.827,
  -0.01867220399111602,
  AdaBoostRegressor(base_estimator=DecisionTreeRegressor(max_depth=3,
                                                         random_state=21),
                    n_estimators=25)),
 (6033.317,
  6274.024,
  -0.0001270302512792476,
  AdaBoostRegressor(base_estimator=DecisionTreeRegressor(max_depth=3,
                                                         random_state=21),
                    n_estimators=26)),
 (6043.614,
  6238.622,
  0.007081381074367954,
  AdaBoostRegressor(base_estimator=DecisionTreeRegressor(max_depth=3,
                                                         random_state=21),
                    n_estimators=27)),
 (6066.852,
  6259.724,
  0.004540967362056114,
  AdaBoostRegressor(base_estimator=DecisionTreeRegressor(max_depth=3,
                                                         random_state=21),
                    n_estimators=28)),
 (6055.212,
  6305.624,
  -0.0056758830289609374,
  AdaBoostRegressor(base_estimator=DecisionTreeRegressor(max_depth=3,
                                                         random_state=21),
                    n_estimators=29)),
 (6050.708,
  6314.047,
  -0.013494285548726559,
  AdaBoostRegressor(base_estimator=DecisionTreeRegressor(max_depth=3,
                                                         random_state=21),
                    n_estimators=30)),
 (6019.547,
  6271.671,
  0.0034668392486345567,
  AdaBoostRegressor(base_estimator=DecisionTreeRegressor(max_depth=3,
                                                         random_state=21),
                    n_estimators=31)),
 (6050.402,
  6267.09,
  -0.0054492957706429035,
  AdaBoostRegressor(base_estimator=DecisionTreeRegressor(max_depth=3,
                                                         random_state=21),
                    n_estimators=32)),
 (6054.622,
  6256.425,
  -0.002071947035381383,
  AdaBoostRegressor(base_estimator=DecisionTreeRegressor(max_depth=3,
                                                         random_state=21),
                    n_estimators=33)),
 (6073.164,
  6248.315,
  0.007437928284253603,
  AdaBoostRegressor(base_estimator=DecisionTreeRegressor(max_depth=3,
                                                         random_state=21),
                    n_estimators=34)),
 (6012.128,
  6292.747,
  -0.00927811425474423,
  AdaBoostRegressor(base_estimator=DecisionTreeRegressor(max_depth=3,
                                                         random_state=21),
                    n_estimators=35)),
 (6030.555,
  6291.089,
  -0.006355673437247855,
  AdaBoostRegressor(base_estimator=DecisionTreeRegressor(max_depth=3,
                                                         random_state=21),
                    n_estimators=36)),
 (6112.727,
  6307.418,
  -0.010689593134919129,
  AdaBoostRegressor(base_estimator=DecisionTreeRegressor(max_depth=3,
                                                         random_state=21),
                    n_estimators=37)),
 (6032.715,
  6276.547,
  -0.002143454566292169,
  AdaBoostRegressor(base_estimator=DecisionTreeRegressor(max_depth=3,
                                                         random_state=21),
                    n_estimators=38)),
 (6010.958,
  6269.551,
  0.0017216586586320526,
  AdaBoostRegressor(base_estimator=DecisionTreeRegressor(max_depth=3,
                                                         random_state=21),
                    n_estimators=39))]

In [27]:
from sklearn.neighbors import KNeighborsRegressor
knr = KNeighborsRegressor()
tp = {"n_neighbors":range(40)}
from sklearn.model_selection import GridSearchCV
cv = GridSearchCV(knr,tp,scoring="neg_mean_absolute_error",cv = 5)
cvmodel = cv.fit(xtrain,ytrain)
bestval = cvmodel.best_params_
bestval

{'n_neighbors': 37}

In [28]:
from sklearn.neighbors import KNeighborsRegressor
knr = KNeighborsRegressor(n_neighbors=bestval['n_neighbors'])
model = knr.fit(xtrain,ytrain)
pred_tr = model.predict(xtrain)
pred_ts = model.predict(xtest)
from sklearn.metrics import mean_absolute_error
print("train Error: ",round(mean_absolute_error(pred_tr,ytrain),20))
print("test Error: ",round(mean_absolute_error(pred_ts,ytest),20))

train Error:  6046.744323405039
test Error:  6270.004136789849

# keras tuner

In [29]:
from keras.layers import Dense,Dropout
from keras.models import Sequential
import keras_tuner as kt

In [30]:
def model_builder(hp):
    nn = Sequential()
    nn.add(Dense(128,input_dim=xtrain.shape[1]))
    x = hp.Int("units",min_value=32,max_value=400,step=32)
    nn.add(Dense(units=x))
    y = hp.Choice("rate",values=[0.1,0.2,0.3,0.4,0.5,0.6,0.7,0.8,0.9])
    nn.add(Dropout(rate=y))
    nn.add(Dense(1,activation="relu"))
    nn.compile(loss="mean_absolute_error")
    return nn

# val loss

In [31]:
pip install Hyperparmeters

Note: you may need to restart the kernel to use updated packages.

ERROR: Could not find a version that satisfies the requirement Hyperparmeters (from versions: none)
ERROR: No matching distribution found for Hyperparmeters

In [32]:
import keras_tuner as kt
tuner = kt.Hyperband(model_builder,
            objective="val_loss",
            max_epochs=10,
            directory="C:/Users/pritam hakande/Downloads/Attrition_project/AtronN4",
            project_name = "kk10")

In [34]:
tuner.search(xtrain,ytrain,epochs=500,validation_split=0.2)

Trial 30 Complete [00h 00m 06s]
val_loss: 6356.35009765625

Best val_loss So Far: 5885.56982421875
Total elapsed time: 00h 02m 05s
INFO:tensorflow:Oracle triggered exit

In [35]:
tuner.get_best_hyperparameters()[0].get("units")

384

In [36]:
tuner.get_best_hyperparameters()[0].get("rate")

0.6

# Neural Network for MonthlyRate loss and val loss

In [37]:
X

,Attrition,Age,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,1,41,Travel_Rarely,1102,Sales,1,2,Life Sciences,1,1,...,1,80,0,8,0,1,6,4,0,5
1,0,49,Travel_Frequently,279,Research & Development,8,1,Life Sciences,1,2,...,4,80,1,10,3,3,10,7,1,7
2,1,37,Travel_Rarely,1373,Research & Development,2,2,Other,1,4,...,2,80,0,7,3,3,0,0,0,0
3,0,33,Travel_Frequently,1392,Research & Development,3,4,Life Sciences,1,5,...,3,80,0,8,3,3,8,7,3,0
4,0,27,Travel_Rarely,591,Research & Development,2,1,Medical,1,7,...,4,80,1,6,3,3,2,2,2,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1465,0,36,Travel_Frequently,884,Research & Development,23,2,Medical,1,2061,...,3,80,1,17,3,3,5,2,0,3
1466,0,39,Travel_Rarely,613,Research & Development,6,1,Medical,1,2062,...,1,80,1,9,5,3,7,7,1,7
1467,0,27,Travel_Rarely,155,Research & Development,4,3,Life Sciences,1,2064,...,2,80,1,6,0,3,6,2,0,3
1468,0,49,Travel_Frequently,1023,Sales,2,3,Medical,1,2065,...,4,80,0,17,3,2,9,6,0,8
1469,0,34,Travel_Rarely,628,Research & Development,8,3,Medical,1,2068,...,1,80,0,6,3,4,4,3,1,2

In [38]:
X = preprocessing(X)
from sklearn.model_selection import train_test_split
xtrain,xtest,ytrain,ytest=train_test_split(X,Y,test_size=0.2,random_state=31)
from sklearn.neural_network import MLPRegressor
mlpr = MLPRegressor(hidden_layer_sizes=(100,100),random_state=21)
nn = mlpr.fit(xtrain,ytrain)
tr_pred = nn.predict(xtrain)
ts_pred = nn.predict(xtest)
from sklearn.metrics import mean_absolute_error
tr_err = round(mean_absolute_error(ytrain,tr_pred),2)
ts_err = round(mean_absolute_error(ytest,ts_pred),2)
print(tr_err, "   ",ts_err)

6164.15     5848.4

In [39]:
from scipy.stats.stats import moment
from keras.callbacks import EarlyStopping

es = EarlyStopping(patience=25,monitor="val_loss")

nn = Sequential()
nn.add(Dense(1260,input_dim=X.shape[1]))
nn.add(Dense(1260,activation="relu"))
nn.add(Dropout(0.3))
nn.add(Dense(1260, activation="relu"))
nn.add(Dropout(0.3))
nn.add(Dense(1260, activation="relu"))
nn.add(Dropout(0.3))
nn.add(Dense(1260, activation="relu"))
nn.add(Dense(1260, activation="relu"))
nn.add(Dropout(0.3))

nn.add(Dense(1,activation="relu"))
nn.compile( loss="MAE")

model = nn.fit(X,Y,epochs= 500,validation_split= 0.2,callbacks=es)

Epoch 1/500
37/37 [==============================] - 6s 131ms/step - loss: 9058.3760 - val_loss: 6844.9741
Epoch 2/500
37/37 [==============================] - 5s 126ms/step - loss: 7469.9014 - val_loss: 6994.6245
Epoch 3/500
37/37 [==============================] - 5s 126ms/step - loss: 6904.0044 - val_loss: 6502.0791
Epoch 4/500
37/37 [==============================] - 5s 126ms/step - loss: 6746.9883 - val_loss: 9367.6191
Epoch 5/500
37/37 [==============================] - 5s 128ms/step - loss: 6647.9810 - val_loss: 6530.7632
Epoch 6/500
37/37 [==============================] - 5s 125ms/step - loss: 6391.2241 - val_loss: 7798.5576
Epoch 7/500
37/37 [==============================] - 5s 125ms/step - loss: 6349.5698 - val_loss: 6974.8584
Epoch 8/500
37/37 [==============================] - 5s 128ms/step - loss: 6060.9883 - val_loss: 7002.2339
Epoch 9/500
37/37 [==============================] - 5s 128ms/step - loss: 6347.7915 - val_loss: 6691.8086
Epoch 10/500
37/37 [==============================] - 5s 126ms/step - loss: 5897.2690 - val_loss: 6559.3721
Epoch 11/500
37/37 [==============================] - 5s 126ms/step - loss: 6043.2222 - val_loss: 7345.4390
Epoch 12/500
37/37 [==============================] - 5s 130ms/step - loss: 5991.3174 - val_loss: 6687.1211
Epoch 13/500
37/37 [==============================] - 5s 126ms/step - loss: 5645.6719 - val_loss: 7163.3979
Epoch 14/500
37/37 [==============================] - 5s 125ms/step - loss: 5678.7437 - val_loss: 8466.9697
Epoch 15/500
37/37 [==============================] - 5s 129ms/step - loss: 5497.8662 - val_loss: 7363.1597
Epoch 16/500
37/37 [==============================] - 5s 125ms/step - loss: 5566.0532 - val_loss: 6644.0098
Epoch 17/500
37/37 [==============================] - 5s 126ms/step - loss: 5597.2778 - val_loss: 7431.4678
Epoch 18/500
37/37 [==============================] - 5s 125ms/step - loss: 5460.6787 - val_loss: 6748.5630
Epoch 19/500
37/37 [==============================] - 5s 127ms/step - loss: 5264.2456 - val_loss: 6677.1289
Epoch 20/500
37/37 [==============================] - 5s 125ms/step - loss: 5303.7500 - val_loss: 6945.3521
Epoch 21/500
37/37 [==============================] - 5s 125ms/step - loss: 5259.6445 - val_loss: 7219.7422
Epoch 22/500
37/37 [==============================] - 5s 129ms/step - loss: 5153.4229 - val_loss: 7043.3110
Epoch 23/500
37/37 [==============================] - 5s 125ms/step - loss: 5071.1353 - val_loss: 6725.8691
Epoch 24/500
37/37 [==============================] - 5s 125ms/step - loss: 5106.1191 - val_loss: 7089.9600
Epoch 25/500
37/37 [==============================] - 5s 126ms/step - loss: 5019.7041 - val_loss: 7309.4004
Epoch 26/500
37/37 [==============================] - 5s 128ms/step - loss: 4962.3076 - val_loss: 7258.3657
Epoch 27/500
37/37 [==============================] - 5s 129ms/step - loss: 4823.2881 - val_loss: 6827.3257
Epoch 28/500
37/37 [==============================] - 5s 127ms/step - loss: 4818.5972 - val_loss: 6799.3525

In [40]:
pred_ts = nn.predict(xtest)

In [41]:
from sklearn.metrics import mean_absolute_error
pred_tr = nn.predict(xtrain)
print(mean_absolute_error(ytest,pred_ts))
print(mean_absolute_error(ytrain,pred_tr))

4203.81988234747
4654.964574489463

In [42]:
pred_ts = nn.predict(X)
mean_absolute_error(Y,pred_ts)

4564.735638386214